# Android Studio
*.iml
/.idea/*
!/.idea/codeStyles/
!/.idea/fileTemplates/
!/.idea/file.template.settings.xml
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
!/.idea/vcs.xml
!/.idea/icon.svg
/captures/

# Gradle
.gradle/
build/
generated/
settings-focus.gradle

# Local configuration file (sdk path, etc)
local.properties

# Mac DS_Store files
.DS_Store

# Kotlin
.kotlin/
